In [11]:
 #
y1=int(17)
print(y1,type(y1))
y2=float(17)
print(y2,type(y2))
y3=str(17)
print(y3,type(y3))
y4=(17>16)
print(y4,type(y4))

17 <class 'int'>
17.0 <class 'float'>
17 <class 'str'>
True <class 'bool'>

In [24]:
# print("The value of y1 is %d." % (y1))
text = "The value of y1, y2, y3 is %d, %f, %s." % (y1,y2,y3)
print(text)
text = "The value of y3 is %s." % (y3)
print(text)

The value of y1, y2, y3 is 17, 17.000000, 17.
The value of y3 is 17.

In [29]:
a="I" 
b="love"
c="learning" 
d="how"
e="to"
f="code"
g="!"
text="%s %s %s %s %s %s%s" % (a,b,c,d,e,f,g)
print(text)

I love learning how to code!

In [39]:
#iterative operation
mysum = 0
n = 100
for i in range(1,n+1):
    mysum += i
print(mysum)

5050

In [46]:
#recursive operation
def fact(n): 
    if n == 1:
        return 1 
    else:
        return n+fact(n-1)
    
print(fact(100))

5050

In [52]:
yours=["Yale", "MIT", "Berkeley"] 
mine=["Stanford", "SJTU", "Yale"] 
ours1 = mine + yours
print(ours1)
ours2 = [] 
ours2.append(mine) 
ours2.append(yours)
print(ours2)
#The difference: + combine two lists into one, 
#append: a new list contain two sub-list

['Stanford', 'SJTU', 'Yale', 'Yale', 'MIT', 'Berkeley']
[['Stanford', 'SJTU', 'Yale'], ['Yale', 'MIT', 'Berkeley']]

In [53]:
yours[1]="Harvard" 
print(ours1)
print(ours2)
#ours1 store
#ours2 store

['Stanford', 'SJTU', 'Yale', 'Yale', 'MIT', 'Berkeley']
[['Stanford', 'SJTU', 'Yale'], ['Yale', 'Harvard', 'Berkeley']]

In [70]:
month_dict={"1":"January","2":"Feburary","3":"March","4":"April","5":"May","6":"June","7":"July","8":"August","9":"September","10":"October","11":"November","12":"December"}
month_dict.keys()
month_dict["2"]

print("The sixth month is "+ month_dict["6"]+".")
print(month_dict["2"]+" is month 2.")

The sixth month is June.
Feburary is month 2.